import {Logger} from "../core/Logger";
import {Script} from "../core/Script";
export class {{name}} extends Script{
    execute(){
        Logger.log("hello there, this is a new script running");
        Logger.error("this is an error");
        Logger.highlight("now added also highlight");
        Logger.warn("added also warning");
    }
}

let {{name}}Instance = new {{name}}("{{name}}", "{{description}}");
{{name}}Instance.execute();